<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Score de lisibilité Web - Expérimental</title>
		<meta content="width=device-width,initial-scale=1" name="viewport">
		<meta name=”robots” content=”noindex, follow”>
		<script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/soyutils.js"></script>
		<script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/wet-fr.js"></script>
		<link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
		<!-- Write closure template -->
		<script type="text/javascript">
			document.write(wet.builder.refTop({
			}));
		</script>
		<style>
		.beta-top, .alpha-top {
			padding-top: 2px !important;
			padding-bottom: 2px !important;
			top: 0px;
			background-color: #f2f2f2;
			z-index: 100;
			}
		</style>
	</head>
	<body vocab="http://schema.org/" typeof="WebPage">
		<section class="experimental alpha-top">
		<h2 class="wb-inv">Alpha</h2>
		<div class="container">
			<small><label class="alpha-label">Alpha</label>&nbsp;&nbsp;
				Ceci est une version expérimentale de Canada.ca destinée à être testée par le public.</small>
		</div>
	</section>
		<div id="def-top">
		</div>
		<script type="text/javascript">
			var defTop = document.getElementById("def-top");
			defTop.outerHTML = wet.builder.top({
				lngLinks: [{
					lang: "en",
					href: "#",
					text: "Anglais"
				}],
				breadcrumbs: [{
					title: "Canada.ca",
					href: "https://www.canada.ca/fr.html"
				}],
				search: true,
				siteMenu: true,
				showPreContent: true
			});
		</script>
		<main role="main" property="mainContentOfPage" class="container">

<h1>Score de lisibilité Web - Expérimental</h1>
<form id="attributes" name="attributes" action="{{ url_for('suggest') }}" method="post">
  <label for="url">Entrer une URL :</label>
  <input size="100" type="text" id="url" name="url" value={{ url }}><br><br>
	<input type="hidden" name="lang" value={{ lang }}>
<input class="btn btn-primary" name=submit type="submit" value="Allez">
</form>
<script>
  const form = window.document.getElementById("attributes");
  form.addEventListener('submit', submitRedirect);
  function submitRedirect(event) {
    event.preventDefault();
    var formData = new FormData(form);
    var queryString = "?";
    for (var key of formData.keys()) {
      queryString = queryString + key + "=" + formData.get(key) + "&";
    }
    location.href = 'read_score' + queryString;
  }
	let langElem = document.getElementById("wb-lng").getElementsByTagName("a")[0];
  let toggleURL = window.location + "";
  if (document.documentElement.lang === 'en') {
      toggleURL = toggleURL.replace("&lang=en", "");
      toggleURL += "?&lang=fr";
  } else {
      toggleURL = toggleURL.replace("&lang=fr", "");
      toggleURL += "?&lang=en";
  }
  langElem.setAttribute("href", toggleURL);
</script>


<h2>Pour en savoir plus</h2>
<p>Voir le code et la méthodologie sur GitHub:</p>
<a href='https://github.com/alpha-canada-ca/lisibilite-web-readability'>https://github.com/alpha-canada-ca/lisibilite-web-readability</a>
