<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Web readability score - Experimental</title>
		<meta content="width=device-width,initial-scale=1" name="viewport">
		<meta name=”robots” content=”noindex, follow”>
		<script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/soyutils.js"></script>
		<script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/wet-en.js"></script>
		<link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
		<!-- Write closure template -->
		<script type="text/javascript">
			document.write(wet.builder.refTop({
			}));
		</script>
	</head>
	<body vocab="http://schema.org/" typeof="WebPage">
		<div id="def-top"></div>
		<script type="text/javascript">
			var defTop = document.getElementById("def-top");
			defTop.outerHTML = wet.builder.top({
				lngLinks: [{
					lang: "fr",
					href: "#",
					text: "Français"
				}],
				breadcrumbs: [{
					title: "Canada.ca",
					href: "https://www.canada.ca/en.html"
				}],
				search: true,
				siteMenu: true,
				showPreContent: true
			});
		</script>
		<main property="mainContentOfPage" class="container">

<h1>Web readability score - Experimental</h1>
    <form id="attributes" name="attributes" action="{{ url_for('suggest') }}" method="post">
      <label for="url">URL:</label>
      <input size="100" type="text" id="url" name="url" value={{ url }}><br><br>
				<input type="hidden" name="lang" value={{ lang }}>
    <input type="submit">
    </form>
    <script>
      const form = window.document.getElementById("attributes");
      form.addEventListener('submit', submitRedirect);
      function submitRedirect(event) {
        event.preventDefault();
        var formData = new FormData(form);
        var queryString = "?";
        for (var key of formData.keys()) {
          queryString = queryString + key + "=" + formData.get(key) + "&";
        }
        location.href = 'read_score' + queryString;
      }
			let langElem = document.getElementById("wb-lng").getElementsByTagName("a")[0];
		  let toggleURL = window.location + "";
		  if (document.documentElement.lang === 'en') {
		      toggleURL = toggleURL.replace("&lang=en", "");
		      toggleURL += "&lang=fr";
		  } else {
		      toggleURL = toggleURL.replace("&lang=fr", "");
		      toggleURL += "&lang=en";
		  }
		  langElem.setAttribute("href", toggleURL);
    </script>

<h2>Page</h2>
<a href='{{ url }}'>{{ url }}</a>

<h2>Total score</h2>
<p><strong>{{ total_score }}/100</strong> ({{ score }})</p>
<details>
<summary>Meaning of score</summary>
<ul>
	<li><strong>90 points or more:</strong>: Outstanding! </li>
	<li><strong>Between 80 and 90 points:</strong> Very good!</li>
	<li><strong>Between 70 and 80 points:</strong> Not too bad</li>
	<li><strong>Between 60 and 70 points:</strong> Needs work</li>
	<li><strong>Between 50 and 60 points:</strong> Needs a lot of work</li>
	<li><strong>Under 50 points:</strong> Please don't do this to people...</li>
</ul>
</details>

<h2>Total score details</h2>

<h3>Readability points</h3>
<p><strong>{{ fkpoints }}/60 </strong></p>
<p>Adjusted Flesch-Kincaid readability score of: {{ final_fk_score }}</p>
<details>
	<summary>Calculation of readability points</summary>
	<p><strong>Basic Flesch-Kincaid</strong> uses 2 variables to get a score:</p>
	<ul>
		<li>average sentence length</li>
		<li>average number of syllables per word</li>
	</ul>
	<p>This calulation doesn't handle headings and bullet points very well. If there isn't a period at the end of a heading or a bullet item, it considers it to be still the same sentence.</p>
	<p>The <strong>adjusted Flesch-Kincaid readability score</strong> considers each heading and each item in a bullet list as a separate sentence.</p>
	<p>Points are attributed using this calculation:</p>
	<ul>
		<li><strong>Grade 6 or under:</strong> 60/60</li>
		<li><strong>Grade 18 or over:</strong> 0/60</li>
		<li><strong>Between grade 6 and grade 18:</strong> points go down gradually as the grade goes up</li>
	</ul>
</details>
<h3>Heading points</h3>
<p><strong>{{ hpoints }}/20</strong></p>
<p>Words per heading: {{ hratio }}</p>
<details>
<summary>Calculation of heading points</summary>
<p>Because it's generally a good idea to use headings and subheadings, points are attributed based on the average number of words between each heading. </p>
<p>The total number of words is divided by the number of individual headings (h1, h2, h3, h4, etc.)</p>
<p>Points are attributed using this calculation:</p>
<ul>
	<li><strong>40 words per heading or less:</strong> 20/20</li>
	<li><strong>200 words per heading or more:</strong> 0/20</li>
	<li><strong>Between 40 and 200 words per heading:</strong> points go down gradually as the number goes up</li>
</ul>
</details>
<h3>Paragraph points</h3>
<p><strong>{{ ppoints }}/20</strong></p>
<p>Words per paragraph: {{ pratio }}</p>
<details>
<summary>Calculation of paragraph points</summary>
<p>Because it's generally a good idea to use use paragraphs and avoid a wall of text, points are attributed based on the average number of words in each paragraph. </p>
<p>The total number of words is divided by the number of paragraphs</p>
<p>Points are attributed using this calculation:</p>
<ul>
	<li><strong>30 words per paragrah or less:</strong> 20/20</li>
	<li><strong>80 words per paragraph or more:</strong> 0/20</li>
	<li><strong>Between 30 and 80 words per paragraph:</strong> points go down gradually as the number goes up</li>
</ul>
</details>

<h2>Total number of words on page</h2>
<p>{{ total_words }}</p>

<h2>Most frequent words on page</h2>
		<details open="open">
				<summary>If page is in English</summary>

					<table class="wb-tables table table-striped">

					<tr>
						{% for col in word_column_names %}
						<th>{{col}}</th>
						{% endfor %}
					</tr>
					{% for row in row_data_word_en %}
					<tr>
						{% for col, row_ in zip(word_column_names, row) %}
						<td>{{row_}}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</table>
			</details>
			<details>
					<summary>If page is in French</summary>

						<table class="wb-tables table table-striped">

						<tr>
							{% for col in word_column_names %}
							<th>{{col}}</th>
							{% endfor %}
						</tr>
						{% for row in row_data_word_fr %}
						<tr>
							{% for col, row_ in zip(word_column_names, row) %}
							<td>{{row_}}</td>
							{% endfor %}
						</tr>
						{% endfor %}
					</table>
				</details>

<h2>More information</h2>
<p>See code and methodology on GitHub:</p>
<a href='https://github.com/alpha-canada-ca/lisibilite-web-readability'>https://github.com/alpha-canada-ca/lisibilite-web-readability</a>
</body>
</html>
