<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Score de lisibilité Web - Expérimental</title>
		<meta content="width=device-width,initial-scale=1" name="viewport">
		<meta name=”robots” content=”noindex, follow”>
		<script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/soyutils.js"></script>
		<script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/wet-fr.js"></script>
		<link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
		<!-- Write closure template -->
		<script type="text/javascript">
			document.write(wet.builder.refTop({
			}));
		</script>
	</head>
	<body vocab="http://schema.org/" typeof="WebPage">
		<div id="def-top">
		</div>
		<script type="text/javascript">
			var defTop = document.getElementById("def-top");
			defTop.outerHTML = wet.builder.top({
				lngLinks: [{
					lang: "en",
					href: "#",
					text: "Anglais"
				}],
				breadcrumbs: [{
					title: "Canada.ca",
					href: "https://www.canada.ca/fr.html"
				}],
				search: true,
				siteMenu: true,
				showPreContent: true
			});
		</script>
		<main role="main" property="mainContentOfPage" class="container">

<h1>Score de lisibilité Web - Expérimental</h1>
<form id="attributes" name="attributes" action="{{ url_for('suggest') }}" method="post">
  <label for="url">URL :</label>
  <input size="100" type="text" id="url" name="url" value={{ url }}><br><br>
	<input type="hidden" name="lang" value={{ lang }}>
<input class="btn btn-primary" name=submit type="submit" value="Allez">
</form>
<script>
  const form = window.document.getElementById("attributes");
  form.addEventListener('submit', submitRedirect);
  function submitRedirect(event) {
    event.preventDefault();
    var formData = new FormData(form);
    var queryString = "?";
    for (var key of formData.keys()) {
      queryString = queryString + key + "=" + formData.get(key) + "&";
    }
    location.href = 'read_score' + queryString;
  }
	let langElem = document.getElementById("wb-lng").getElementsByTagName("a")[0];
  let toggleURL = window.location + "";
  if (document.documentElement.lang === 'en') {
      toggleURL = toggleURL.replace("&lang=en", "");
      toggleURL += "&lang=fr";
  } else {
      toggleURL = toggleURL.replace("&lang=fr", "");
      toggleURL += "&lang=en";
  }
  langElem.setAttribute("href", toggleURL);
</script>

<h2>Page</h2>
<a href='{{ url }}'>{{ url }}</a>

<h2>Score total</h2>

<p><strong>{{ total_score }}/100</strong> ({{ score }})</p>


<summary>Signification du score</summary>
<details>
<ul>
	<li><strong>90 points ou plus :</strong> Excellent! </li>
	<li><strong>Entre 80 et 90 points :</strong> Très bien!</li>
	<li><strong>Entre 70 et 80 points :</strong> Pas mal</li>
	<li><strong>Entre 60 et 70 points :</strong> À travailler</li>
	<li><strong>Entre 50 et 60 points : </strong> Besoin de beaucoup de travail</li>
	<li><strong>Moins de 50 points :</strong> S'il vous plaît, il faut faire quelque chose...</li>
</ul>
</details>

<h2>Détails du score total</h2>

<h3>Points de lisibilité</h3>
<p><strong>{{ fkpoints }}/60 </strong></p>
<p>Score de lisibilité Flesch-Kincaid ajusté : {{ final_fk_score }}</p>
<details>
	<summary>Calcul des points de lisibilité</summary>
	<p><strong>Le score Flesch-Kincaid de base</strong> utilise 2 variables pour obtenir une note:p>
	<ul>
		<li>la longueur moyenne des phrases</li>
		<li>le nombre moyen de syllabes par mot</li>
	</ul>
	<p>Ce calcul ne gère pas très bien les en-têtes et les listes à puces. S'il n'y a pas de point à la fin d'une en-tête ou d'une puce, il considère qu'il s'agit toujours de la même phrase.</p>
	<p>Le <strong>Score de lisibilité Flesch-Kincaid ajusté</strong> considère chaque en-tête et chaque élément d'une liste à puce comme des phrases distinctes.</p>
	<p>Les points sont attribués en utilisant ce calcul : </p>
	<ul>
		<li><strong>Niveau 6 ou inférieur</strong>: 60/60</li>
		<li><strong>Niveau 18 ou supérieur</strong>: 0/60</li>
		<li><strong>Entre le niveau 6 et le niveau 18</strong>: le nombre de points diminue à mesure que le niveau augmente.</li>
	</ul>
</details>
<h3>Points pour les en-têtes</h3>
<p><strong>{{ hpoints }}/20</strong></p>
<p>Mots par en-tête : {{ hratio }}</p>
<details>
<summary>Calcul des points pour les en-têtes</summary>
<p>Puisque c'est généralement une bonne idée d'ajouter des en-têtes, les points sont attribués en se basant sur le nombre de mots moyen entre chaque en-tête.</p>
<p>Le nombre total de mots est divisé par le nombre d'en-têtes individuels (h1, h2, h3, h4, etc.)</p>
<p>Les points sont attribués en utilisant ce calcul : </p>
<ul>
	<li><strong>40 mots par en-tête ou moins :</strong> 20/20</li>
	<li><strong>200 mots par en-tête ou plus :</strong> 0/20</li>
	<li><strong>Entre 40 et 200 mots par en-tête : </strong> le nombre de points diminue à mesure que le nombre de mots par en-tête augmente.</li>
</ul>
</details>

<h3>Points pour les paragraphes</h3>
<p><strong>{{ ppoints }}/20</strong></p>
<p>Mots par paragraphe : {{ pratio }}</p>
<details>
<summary>Calcul des points pour les paragraphes</summary>
<p>Puisque c'est généralement une bonne idée d'utiliser des paragrahes et d'éviter les murs de mots, les points sont attribués en se basant sur le nombre de mots moyen par paragraphe.</p>
<p>Le nombre total de mots est divisé par le nombre de paragraphes. </p>
<p>Les points sont attribués en utilisant ce calcul : </p>
<ul>
	<li><strong>30 mots par paragraphe ou moins :</strong> 20/20</li>
	<li><strong>80 mots par paragraphe ou plus :</strong> 0/20</li>
	<li><strong>Entre 30 et 80 mots par paragraphe :</strong>  le nombre de points diminue à mesure que le nombre de mots par paragraphe augmente.</li>
</ul>
</details>

<h2>Nombre total de mots sur la page</h2>
<p>{{ total_words }}</p>

<h2>Mots les plus fréquents sur la page</h2>

		<details open="open">
				<summary>Si la page est en français</summary>

					<table class="wb-tables table table-striped">

					<tr>
						{% for col in word_column_names %}
						<th>{{col}}</th>
						{% endfor %}
					</tr>
					{% for row in row_data_word_fr %}
					<tr>
						{% for col, row_ in zip(word_column_names, row) %}
						<td>{{row_}}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</table>
			</details>
			<details>
					<summary>Si la pag est en anglais</summary>

						<table class="wb-tables table table-striped">

						<tr>
							{% for col in word_column_names %}
							<th>{{col}}</th>
							{% endfor %}
						</tr>
						{% for row in row_data_word_en %}
						<tr>
							{% for col, row_ in zip(word_column_names, row) %}
							<td>{{row_}}</td>
							{% endfor %}
						</tr>
						{% endfor %}
					</table>
				</details>

<h2>Pour en savoir plus</h2>
<p>Voir le code et la méthodologie sur GitHub:</p>
<a href='https://github.com/alpha-canada-ca/lisibilite-web-readability'>https://github.com/alpha-canada-ca/lisibilite-web-readability</a>
